<div data-role="header">
  <h1>Login</h1>
</div><!-- /header -->

<div data-role="content">
  <h2>Login</h2>

  <form id="loginForm" action="">
    Username:<br/>
    <input type="text" name="username" autocorrect="off" autocapitalize="off" /><br />
    Password:<br/>
    <input type="password" name="password" autocorrect="off" autocapitalize="off"/><br/>
    <input type="submit" name="login" value="Login" />
  </form>

</div><!-- /content -->

<div data-role="footer">
  <h4>Page Footer</h4>
</div><!-- /footer -->
