<div data-role="header">
  <a href="#my-courses" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true">zurück</a>
  <h1>Veranstaltung</h1>
</div>

<div data-role="content" >

  <h2>{{title}}</h2>

  <h3>{{subtitle}}</h3>
  <h3>{{description}}</h3>

      <a href="#" data-role="button" data-iconpos="right" data-icon="star" data-theme="b" disabled>News</a>
      <a href="#" data-role="button" data-iconpos="right" data-icon="star" data-theme="b">Forum</a>
      <a href="#" data-role="button">Dateien</a>
      <a href="#" data-role="button">Wiki</a>

</div>

<div data-role="footer" data-theme="d">
  <h4>Page Footer</h4>
</div>
