<div data-role="header">
  <h1>Home</h1>
</div>

<div data-role="content" >

  <p>I have an <code>id</code> of "one" on my page container. I'm
    first in the source order so I'm shown when the page loads.</p>

  <p>This is a multi-page boilerplate template that you can copy to
    build your first jQuery Mobile page. This template contains
    multiple "page" containers inside, unlike a single page template
    that has just one page within it.</p>

  <p>Just view the source and copy the code to get started. All the
    CSS and JS is linked to the jQuery CDN versions so this is super
    easy to set up. Remember to include a meta viewport tag in the
    head to set the zoom level.</p>

  <h3>Show internal pages:</h3>
  <p><a href="#my-courses" data-role="button">Show page "My Courses"</a></p>
</div>

<div data-role="footer" data-theme="d">
  <h4>Page Footer</h4>
</div>
